/* Define standard variables and values for website */
html {
  height: 100%;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

body {
  height: 100%;
  background-color: #FFFBF6;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  position: relative; }

#navbar, .text-container, .header, .introduction-container, .projects, .footer, .text {
  z-index: 2;
  position: relative; }

#navbar {
  background-color: #FFFBF6;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  height: 10vh; }

.header {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 10vh;
  width: 100vw;
  font-family: 'Flow Rounded'; }

.introduction-container {
  margin-top: 2vh;
  height: 60vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 25vw 25vw 1fr;
  /* Adjust the '200px' to your desired fixed width */
  gap: 2vh;
  font-size: 4rem;
  align-items: top;
  font-weight: 400;
  color: #020947;
  font-family: 'Playfair Display'; }

.cryptic_text {
  font-family: 'Playfair Display'; }

.introduction-inner {
  text-align: center;
  grid-column: 2/4;
  display: flex;
  justify-content: flex;
  align-items: top;
  animation: mymove 5s; }

@keyframes mymove {
  from {
    font-size: 2rem; }
  to {
    font-size: 1rem; } }
.projects {
  margin-top: 2vh;
  min-height: 50vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 25vw 25vw 1fr;
  /* Adjust the '200px' to your desired fixed width */
  grid-auto-rows: 55vh;
  gap: 2vh; }

/* Grid items - odd ones */
.projects > *:nth-child(odd) {
  grid-column: 2;
  height: 90%;
  display: flex;
  flex-direction: column; }

/* Grid items - even ones */
.projects > *:nth-child(even) {
  height: 90%;
  grid-column: 3;
  display: flex;
  flex-direction: column; }

.card-image {
  background-color: darkblue;
  height: 30vh;
  width: 100%;
  display: flex; }

.card-image > img {
  width: 100%;
  height: auto;
  object-fit: cover; }

.card-category {
  height: 2%;
  width: 90%;
  padding: 2vh;
  padding-left: 0;
  font-weight: 600;
  font-size: .8rem; }

.card-title {
  height: 5%;
  width: 90%;
  font-weight: 600;
  font-size: 1.2rem; }

.card-blurb {
  padding-top: .5rem;
  line-height: 1.5rem;
  height: 25%;
  width: 90%; }

.footer {
  height: 8vh;
  width: 50vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 1vh;
  font-size: .7rem; }

.name > a {
  text-decoration: none;
  color: inherit; }

.social > a {
  text-decoration: none;
  color: inherit; }

.social > span {
  padding-left: .5rem;
  padding-right: .5rem; }

.name {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.social {
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-height: 680px), screen and (orientation: portrait) {
  body {
    width: 90vw; }

  .header {
    font-size: .7rem;
    justify-content: flex-start; }

  .projects {
    width: 90vw;
    gap: 1px; }

  .introduction-inner {
    grid-column: 1/5;
    font-size: 2rem;
    text-align: left; }

  .projects-item {
    grid-column: 1/5 !important; }

  .footer {
    grid-template-columns: 100%;
    grid-template-rows: 3vh 3vh;
    gap: 0; }

  .social {
    height: 100%;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    padding: 0;
    margin: 0; }

  .name {
    height: 100%;
    width: 100%;
    grid-row: 2;
    padding: 0;
    margin: 0;
    justify-content: center; } }

/*# sourceMappingURL=index.css.map */
